[submodule "ext/Grounded-Segment-Anything"]
	path = ext/Grounded-Segment-Anything
	url = https://github.com/IDEA-Research/Grounded-Segment-Anything.git
[submodule "ext/nvdiffrec"]
	path = ext/nvdiffrec
	url = https://github.com/rossiyareich/nvdiffrec.git
