compel
safetensors
huggingface_hub
accelerate
addict
basicsr
bitsandbytes
clip
cmake
controlnet-aux
decord
diffusers
easydict
einops
ffmpy
ftfy
imageio
imageio-ffmpeg
moviepy
numpy
omegaconf
opencv-python
pandas
pillow
scikit-image
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
thinc
timm
tokenizers
tqdm
transformers
wandb
xformers
positional-encodings
mediapipe
triton
modelcards